# Dependencies
node_modules/
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.*.local

# Testing
coverage/

# Turbo
.turbo/

# Build outputs
dist/
build/
out/

# Wrangler
.wrangler/
.dev.vars

# Vite
.vite/

# Misc
.DS_Store
*.pem
*.log
